/*
 * Colors
 * ______________________________________________ */
/*
 * Font sizes: px, (px/10)rem
 * ______________________________________________ */
/*
 * Layers: z-index
 * ______________________________________________ */
/*
 * Breakpoints: min-width
 * ______________________________________________ */
.contain-floats:after {
  display: block;
  content: " ";
  clear: both;
}
.dark-tile {
  background-image: url('img/dark-tile.png');
}
@font-face {
  font-family: 'FoundersGroteskRegular';
  src: url('fonts/FoundersGroteskWeb-Regular.eot');
  src: url('fonts/FoundersGroteskWeb-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/FoundersGroteskWeb-Regular.woff2') format('woff'), url('fonts/FoundersGroteskWeb-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 62.5%;
}
body {
  font: 16px / 1.63265306 'FoundersGroteskRegular', Helvetica, sans-serif;
  color: #222;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
a {
  text-decoration: none;
  color: inherit;
}
.menu-main__item {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1;
  color: #222;
  text-transform: lowercase;
}
.menu-main__item.lang {
  color: #222;
  line-height: 1;
}
@media (min-width: 480px) {
  .menu-main__item {
    line-height: 72px;
    color: #fff;
  }
}
.work__header {
  text-align: right;
}
/*h2*/
.work__title {
  padding-bottom: 4px;
  padding-bottom: .4rem;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1;
  text-transform: uppercase;
}
/*p*/
.work__attribute {
  margin: 0;
  padding-bottom: 8px;
  padding-bottom: .8rem;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1;
}
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body,
.wrapper,
.grid,
.grid--work {
  width: 100%;
}
body,
main {
  position: relative;
  width: 100vw;
  -webkit-overflow-scrolling: touch;
}
.body {
  overflow: hidden;
}
main {
  overflow: auto;
}
.wrapper {
  padding: 20px;
}
.grid:after {
  display: block;
  content: " ";
  clear: both;
}
.grid__item {
  float: left;
}
.text-wrapper {
  max-width: 680px;
  padding: 20px 28px;
}
.text-wrapper.center {
  margin: 0 auto;
}
.grid--work {
  white-space: nowrap;
}
.grid--work__item {
  display: inline-block;
  font-size: 0;
  word-spacing: 0;
  white-space: normal;
}
.grid--work__item .work__header {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.63265306;
  word-spacing: normal;
}
.work {
  width: 385px;
  margin-right: 20px;
}
.work--top {
  vertical-align: bottom;
}
.work--top .work__left-col,
.work--top .work__right-col {
  vertical-align: bottom;
}
.work--bottom {
  vertical-align: top;
}
.work--bottom .work__left-col,
.work--bottom .work__right-col {
  vertical-align: top;
}
.work__left-col {
  width: 150px;
  margin-right: 10px;
}
.work__right-col {
  width: 225px;
}
.work--bottom .work__right-col {
  margin-left: 160px;
}
.work__header,
.work__item {
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
  margin-top: 0;
}
h3,
h4 {
  font-weight: bold;
}
p:first-child {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
table {
  width: 100%;
  margin-bottom: 3em;
}
th {
  padding-bottom: 0.5em;
  text-align: left;
}
td {
  vertical-align: top;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  line-height: 1.2;
}
code {
  font-family: inherit;
  font-variant: inherit;
  font-style: inherit;
  font-size: inherit;
  color: inherit;
}
img {
  max-width: 100%;
}
.btn,
.icn {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.btn {
  cursor: pointer;
}
a.btn {
  display: block;
}
a.btn--full {
  font: inherit;
  width: inherit;
  height: inherit;
}
.three-line-icn {
  width: 36px;
  height: 31px;
  padding-top: 1px;
  background-color: #222;
}
.three-line-icn div {
  height: 14px;
  background-color: #fff;
}
.three-line-icn div + div {
  margin-top: 1px;
}
.arrow-icn {
  width: 20px;
  height: 20px;
  padding-top: 4px;
}
.arrow-icn div {
  width: inherit;
  height: inherit;
  border: 1px solid #222;
  border-right-color: #fff;
  border-bottom-color: #fff;
  -webkit-transition: margin .25s, -webkit-transform .25s;
  transition: margin .25s, -webkit-transform .25s;
  transition: transform .25s, margin .25s;
  transition: transform .25s, margin .25s, -webkit-transform .25s;
}
.arrow-icn.arrow-icn--up div {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: 0;
}
.arrow-icn.arrow-icn--down div {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  margin-top: -10px;
}
.cross-icn {
  width: 16px;
  height: 16px;
}
.cross-icn div {
  width: inherit;
  height: inherit;
  margin-top: -16px;
  border: 1px solid #222;
  border-right-color: #fff;
  border-bottom-color: #fff;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}
.cross-icn div + div {
  margin-top: 5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.thumbnail {
  display: inline-block !important;
  width: inherit;
  height: inherit;
  background-repeat: no-repeat;
}
.text {
  background-color: #eee;
}
.header-main {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 190px;
  height: 100%;
  height: 100vh;
  background-color: #fff;
  -webkit-transition: left 0.25s, width 0.25s 0.1s;
  transition: left 0.25s, width 0.25s 0.1s;
}
.header-main.js-hide,
.header-main.ini-hide {
  left: -190px;
}
@media (min-width: 800px) {
  .header-main.ini-hide {
    left: 0;
  }
}
.header-main .grid {
  height: inherit;
}
.header-main__logo {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 101;
  width: 230px;
  height: 80px;
  padding: 20px;
  background-color: #fff;
}
.header-main__logo h1 {
  height: 40px;
  padding-left: 12px;
  background-image: url('img/dark-tile.png');
  font-size: 19px;
  font-size: 1.9rem;
  line-height: 38px;
  color: #fff;
}
.header-main__nav {
  width: 190px;
}
.header-main__toggle-btn {
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  padding: 25px 20px 17px;
  background: #fff;
  text-align: right;
  overflow: hidden;
}
@media (min-width: 800px) {
  .header-main__toggle-btn {
    display: none;
  }
}
@media (min-width: 480px) {
  .header-main__toggle-btn {
    width: auto;
  }
}
.header-main__toggle-btn .three-line-icn {
  display: inline-block;
}
.menu-main {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 80px;
}
.menu-main__item {
  width: 150px;
  height: auto;
  margin-bottom: 16px;
  background: none;
}
.menu-main__item a {
  padding-left: 12px;
}
.menu-main__item.lang {
  height: auto;
  background: none;
}
@media (min-width: 480px) {
  .menu-main__item {
    height: 72px;
    margin-bottom: 6px;
    background-image: url('img/dark-tile.png');
  }
  .menu-main__item:nth-child(2n) {
    margin-bottom: 20px;
  }
}
#index .content,
.info .content {
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
#index .content {
  margin-left: 0;
  padding-top: 150px;
  padding-bottom: 130px;
}
@media (min-width: 800px) {
  #index .content {
    margin-left: 170px;
  }
}
.info .content {
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (min-width: 480px) {
  .info .content {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 800px) {
  .info .content {
    padding-left: 250px;
  }
}
#cv td:first-child {
  vertical-align: top;
  width: 96px;
  padding-right: 16px;
  letter-spacing: 0.05em;
  border: 0;
}
#cv .info__text__description h4 {
  text-indent: 98px;
}
#work .content {
  min-height: 200vh;
  padding-top: 9px;
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 480px) {
  #work .content {
    padding-top: 13px;
    padding-left: 48px;
    padding-right: 48px;
  }
}
@media (min-width: 800px) {
  #work .content {
    padding-top: 20px;
    padding-left: 64px;
    padding-right: 64px;
  }
}
#work .work__attribute {
  padding: 0;
  margin-bottom: 20px;
  line-height: 1.2;
}
.work__header {
  background-image: url('img/dark-tile.png');
  color: #fff;
}
.work__header a {
  padding: 7px 10px;
}
.work-details__toggle-desc-btn,
.work-details__close-btn {
  position: fixed;
  z-index: 100;
  background-color: #fff;
}
.work-details__toggle-desc-btn {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  padding-top: 14px;
  text-align: center;
}
.work-details__toggle-desc-btn .arrow-icn {
  display: inline-block;
}
.work-details__close-btn {
  display: block;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
}
.work-details__close-btn .cross-icn {
  position: relative;
  top: 17px;
  left: 12px;
}
@media (min-width: 480px) {
  .work-details__close-btn {
    width: 48px;
    height: 48px;
  }
  .work-details__close-btn .cross-icn {
    top: 21px;
    left: 16px;
  }
}
@media (min-width: 800px) {
  .work-details__close-btn {
    width: 64px;
    height: 64px;
  }
  .work-details__close-btn .cross-icn {
    top: 28px;
    left: 24px;
  }
}
.work-details__text,
.info__text {
  width: 100%;
}
.work-details__text {
  margin-top: 20px;
  padding-bottom: 20px;
}
