/* ====================================================================================================================
 * Frobi Theme
 * ====================================================================================================================*/

.gallery {
  position: relative;
  width: 100%;
  margin-bottom: 40px;
  //padding-left: 20px;
  opacity: 1;
  transition: opacity @gallery-transition-duration .25s;

  &.js-hide {
    opacity: 0;
  }
}

.gallery-viewport {
  height: inherit;
}

.gallery-direction-nav {
  position: absolute;
  top: 0;
  width: 100%;
  height: inherit;
  .contain-floats;

  .gallery-nav-prev,
  .gallery-nav-next {
    float: left;
    width: 50%;
    height: 100%;

    a {
      display: block;
      height: inherit;
    }
  }

  .gallery-nav-prev a {
    cursor: url('img/cur-left.png') 0 0, w-resize; /* Legacy */
    cursor: url('img/cur-left.svg') 0 0, w-resize; /* FF */
    cursor:
      -webkit-image-set(url('img/cur-left.png') 1x,
      url('img/cur-left@2x.png') 2x) 0 0, w-resize;
  }

  .gallery-nav-next a {
    cursor: url('img/cur-right.png') 0 0, e-resize; /* Legacy */
    cursor: url('img/cur-right.svg') 0 0, e-resize; /* FF */
    cursor:
      -webkit-image-set(url('img/cur-right.png') 1x,
      url('img/cur-right@2x.png') 2x) 0 0, e-resize;
  }
}

.slides {
  height: inherit;
  .contain-floats;
}

.gallery__item {
  height: inherit;
  text-align: center;
  // In case images should be blurry, enable the following. More here:
  // http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
  // transform-style: preserve-3d;

  img,
  video {
    position: relative;
    top: 50%;
    max-width: 100%;
    max-height: 100%;
    transform: translateY(-50%);
  }
}
