<div class="info__text">
  <div class="text-wrapper text">
    <div class="info__text__description">
      <perch:content id="text" type="textarea" label="Text" markdown="true" editor="markitup" html="true" imagewidth="880" bucket="images" />
    </div>
  </div>
</div>
