<!--*
  Used by:
    work.php (details page)
      perch_content_custom 'Work'

  Param: start_image_index
*-->

<div class="wrapper content">
  <div class="grid work-details">

    <div
      class="grid__item work-details__gallery gallery js-hide"
      data-start-image-index="<perch:content id="start_image_index"/>">

      <ul class="slides">

      <perch:repeater id="images_top" scope-parent="true" label="Images">
      <perch:template path="content/item/work_gallery_item.html" />
      </perch:repeater>

      <perch:repeater id="images_bottom" scope-parent="true" label="Images">
      <perch:template path="content/item/work_gallery_item.html" />
      </perch:repeater>

      </ul>
    </div>

    <div class="grid__item work-details__text">
      <div class="text-wrapper center text">
        <header>
          <h2 class="work-details__text__title">
            <perch:content type="textarea" id="title" striptags="true" />
          </h2>
          <p class="work__attribute">
            <perch:content type="text" id="year" /><perch:blocks><perch:block type="art_form">, <perch:if id="lang" value="en"><perch:if exists="art_form_en"><perch:content type="text" id="art_form_en" striptags="true" /><perch:else /><perch:content type="text" id="art_form" striptags="true" /></perch:if><perch:else /><perch:content type="text" id="art_form" striptags="true" /></perch:if></perch:block><perch:block type="dimensions">, <perch:if id="lang" value="en"><perch:if exists="dimensions_en"><perch:content type="text" id="dimensions_en" striptags="true" /><perch:else /><perch:content type="text" id="dimensions" striptags="true" /></perch:if><perch:else /><perch:content type="text" id="dimensions" striptags="true" /></perch:if></perch:block><perch:block type="venue">, <perch:if id="lang" value="en"><perch:if exists="venue_en"><perch:content type="text" id="venue_en" striptags="true" /><perch:else /><perch:content type="text" id="venue" striptags="true" /></perch:if> <perch:else /><perch:content type="text" id="venue" striptags="true" /></perch:if></perch:block><perch:block type="locality">, <perch:if id="lang" value="en"><perch:if exists="locality_en"><perch:content type="text" id="locality_en" striptags="true" /><perch:else /><perch:content type="text" id="locality" striptags="true" /></perch:if><perch:else /><perch:content type="text" id="locality" striptags="true" /></perch:if></perch:block><perch:block type="miscellaneous">, <perch:if id="lang" value="en"><perch:if exists="misc_text_en"><perch:content type="text" id="misc_text_en" striptags="true" /><perch:else /><perch:content type="text" id="misc_text" striptags="true" /></perch:if><perch:else /><perch:content type="text" id="misc_text" striptags="true" /></perch:if></perch:block></perch:blocks>
          </p>
        </header>
        <div class="work-details__text__description">
          <perch:if id="lang" value="en">
            <perch:if exists="description_en">
              <perch:content type="textarea" id="description_en" />
            <perch:else />
              <perch:content type="textarea" id="description" />
            </perch:if>
          <perch:else />
            <perch:content type="textarea" id="description" />
          </perch:if>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="work-details__toggle-desc-btn btn">
  <div class="arrow-icn arrow-icn--down icn">
    <div></div>
  </div>
</div>
