<!--*
  Used by:
    work_content.php
      perch_content 'Work'
    index.php
      perch_content_custom 'Work'
        work_top_content.html
        work_bottom_content.html

  NOTE: This template is not supposed to be seen by the user. For an
  explanation, have a look at 'work_content.php' and 'index.php'.
  The if/else statement is used to suppress the output on this page.
  Couldn't think of an easier solution.

  Sidenote: Repeaters do not like the attribute structuring as done
  for perch:content. In fact, it messes everything up. Don't do it.
*-->
<perch:if exists="title">
<perch:else />
  <perch:content id="perch_item_index" type="hidden" />
  <perch:content id="_id" type="hidden" />

  <perch:content
    type="textarea"
    textile="false"
    markdown="false"
    html="true"
    editor="markitup"
    size="xs"
    id="title"
    label="Title"
    title="true"
    default="Untitled"
    required="true"
    divider-before="Heading" />

  <perch:content id="slug" type="slug" for="title" />

  <perch:content id="year" type="text" label="Year" required="true" />

  <perch:blocks>
    <perch:block type="art_form" label="Art Form">
      <perch:content type="text" id="art_form" label="Art Form" />
      <perch:content type="text" id="art_form_en" label="Art Form EN" />
    </perch:block>
    <perch:block type="dimensions" label="Dimensions">
      <perch:content type="text" id="dimensions" label="Dimensions" />
      <perch:content type="text" id="dimensions_en" label="Dimensions EN" />
    </perch:block>
    <perch:block type="venue" label="Venue">
      <perch:content type="text" id="venue" label="Venue" />
      <perch:content type="text" id="venue_en" label="Venue EN" />
    </perch:block>
    <perch:block type="locality" label="Locality">
      <perch:content type="text" id="locality" label="Locality" />
      <perch:content type="text" id="locality_en" label="Locality EN" />
    </perch:block>
    <perch:block type="miscellaneous" label="Miscellaneous">
      <perch:content type="text" id="misc_text" label="Miscellaneous" />
      <perch:content type="text" id="misc_text_en" label="Miscellaneous EN" />
    </perch:block>
  </perch:blocks>

  <perch:content
    type="textarea"
    id="description"
    label="Description"
    textile="false"
    html="true"
    editor="ckeditor"
    divider-before="Description (Details Page)" />

  <perch:content
    type="textarea"
    id="description_en"
    label="Description EN"
    textile="false"
    html="true"
    editor="ckeditor" />

  <perch:repeater id="images_top" scope-parent="true" label="Images" divider-before="Top Images">
  <perch:template path="content/item/work_right_col_item.html" />
  </perch:repeater>

  <perch:repeater id="images_bottom" scope-parent="true" label="Images" divider-before="Bottom Images">
  <perch:template path="content/item/work_right_col_item.html" />
  </perch:repeater>
</perch:if>
