<perch:before>
<div class="grid--work">
</perch:before>

<div class="grid--work__item work work--bottom">
  <div class="grid--work">
    <div class="grid--work__item work__right-col">

      <perch:repeater id="images_bottom" scope-parent="true">
      <perch:template path="content/item/work_right_col_item.html" />
      </perch:repeater>

    </div>
  </div>
</div>

<perch:after>
</div>
</perch:after>
