<perch:before>
<div class="grid--work">
</perch:before>

<div class="grid--work__item work work--top">
  <div class="grid--work">
    <div class="grid--work__item work__left-col">
      <header class="work__header">
        <a
          class="btn"
          href="/work/<perch:content id="_id" />/<perch:content id="slug" type="slug" for="title" />/1">
          <h2 class="work__title">
            <perch:content type="textarea" id="title" html="true" />
          </h2>
          <p class="work__attribute">
            <perch:content type="text" id="year" />
          </p>
          <perch:blocks>
            <perch:block type="art_form">
            <p class="work__attribute">
              <perch:if id="lang" value="en">
                <perch:if exists="art_form_en">
                  <perch:content type="text" id="art_form_en" html="true" />
                <perch:else />
                  <perch:content type="text" id="art_form" html="true" />
                </perch:if>
              <perch:else />
                <perch:content type="text" id="art_form" html="true" />
              </perch:if>
            </p>
            </perch:block>
            <perch:block type="dimensions">
            <p class="work__attribute">
              <perch:if id="lang" value="en">
                <perch:if exists="dimensions_en">
                  <perch:content type="text" id="dimensions_en" html="true" />
                <perch:else />
                  <perch:content type="text" id="dimensions" html="true" />
                </perch:if>
              <perch:else />
                <perch:content type="text" id="dimensions" html="true" />
              </perch:if>
            </p>
            </perch:block>
            <perch:block type="venue">
            <p class="work__attribute">
              <perch:if id="lang" value="en">
                <perch:if exists="venue_en">
                  <perch:content type="text" id="venue_en" html="true" />
                <perch:else />
                  <perch:content type="text" id="venue" html="true" />
                </perch:if>
              <perch:else />
                <perch:content type="text" id="venue" html="true" />
              </perch:if>
            </p>
            </perch:block>
            <perch:block type="locality">
            <p class="work__attribute">
              <perch:if id="lang" value="en">
                <perch:if exists="locality_en">
                  <perch:content type="text" id="locality_en" html="true" />
                <perch:else />
                  <perch:content type="text" id="locality" html="true" />
                </perch:if>
              <perch:else />
                <perch:content type="text" id="locality" html="true" />
              </perch:if>
            </p>
            </perch:block>
            <perch:block type="miscellaneous">
            <p class="work__attribute">
              <perch:if id="lang" value="en">
                <perch:if exists="misc_text_en">
                  <perch:content type="text" id="misc_text_en" html="true" />
                <perch:else />
                  <perch:content type="text" id="misc_text" html="true" />
                </perch:if>
              <perch:else />
                <perch:content type="text" id="misc_text" html="true" />
              </perch:if>
            </p>
            </perch:block>
          </perch:blocks>
        </a>
      </header>
    </div>
    <div class="grid--work__item work__right-col">

      <perch:repeater id="images_top" scope-parent="true">
      <perch:template path="content/item/work_right_col_item.html" />
      </perch:repeater>

    </div>
  </div>
</div>

<perch:after>
</div>
</perch:after>
