<perch:before>
  <ul class="menu-main">
</perch:before>

    <li class="
      menu-main__item
      <perch:if exists="current_page"> selected</perch:if>
      <perch:if exists="ancestor_page"> ancestor</perch:if>">

      <a
        class="btn"
        href="<perch:if id="pagePath" value="/work_content/work_content">/<perch:else /><perch:pages id="pagePath" /></perch:if>">
        <perch:pages id="pageNavText" />
      </a>

      <perch:pages id="subitems" encode="false" />
    </li>

<perch:after>
    <li class="menu-main__item lang"><a href="?lang=de">deutsch</a></li>
  </ul>
</perch:after>
