h1, h2, h3, h4, h5, h6 {
  margin: 0;

  & + p {
    margin-top: 0;
  }
}

h3, h4 {
  font-weight: bold;
}

p {
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

table {
  width: 100%;
  margin-bottom: 3em;
}

th {
  padding-bottom: 0.5em;
  text-align: left;
}

td {
  vertical-align: top;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  line-height: 1.2;
}

code {
  font-family: inherit;
  font-variant: inherit;
  font-style: inherit;
  font-size: inherit;
  color: inherit;
}

img {
  max-width: 100%;
}

.btn,
.icn {
  -webkit-touch-callout: none;
  user-select: none;
}

.btn {
  cursor: pointer;
}

a.btn {
  display: block;
}

a.btn--full {
  font: inherit;
  width: inherit;
  height: inherit;
}

.three-line-icn {
  width: 36px;
  height: 31px;
  padding-top: 1px;
  background-color: @black;

  div {
    height: 14px;
    background-color: @white;

    + div {
      margin-top: 1px;
    }
  }
}

.arrow-icn {
  width: 20px;
  height: 20px;
  padding-top: 4px;

  div {
    width: inherit;
    height: inherit;
    border: 1px solid @black;
    border-right-color: @white;
    border-bottom-color: @white;
    transition: transform .25s, margin .25s;
  }

  &.arrow-icn--up div {
    transform: rotate(45deg);
    margin-top: 0;
  }

  &.arrow-icn--down div {
    transform: rotate(225deg);
    margin-top: -10px;
  }
}

.cross-icn {
  width: 16px;
  height: 16px;

  div {
    width: inherit;
    height: inherit;
    margin-top: -16px;
    border: 1px solid @black;
    border-right-color: @white;
    border-bottom-color: @white;
    transform: rotate(225deg);

    + div {
      margin-top: 5px;
      transform: rotate(45deg);
    }
  }
}

.thumbnail {
  display: inline-block !important; // !important: lazyload sets to inline
  width: inherit;
  height: inherit;
  background-repeat: no-repeat;
}

.text {
  background-color: @gray;
}
