html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body,
.wrapper,
.grid,
.grid--work {
  width: 100%;
}

body,
main {
  position: relative;
  width: 100vw;
  -webkit-overflow-scrolling: touch;
}

.body {
  overflow: hidden;
}

main {
  overflow: auto;
}

.wrapper {
  padding: @page-border;
}

.grid {
  .contain-floats;
}

.grid__item {
  float: left;
}

@page-border-small: (@page-border/3);
@page-border-medium: (@page-border/2);
.text-wrapper {
  max-width: 680px;
  padding: @page-border (@page-border + 8px);

  &.center {
    margin: 0 auto;
  }
}

.grid--work {
  white-space: nowrap;
}

.grid--work__item {
  display: inline-block;
  font-size: 0;
  word-spacing: 0;
  white-space: normal;

  .work__header {
    .font-size;
    word-spacing: normal;
  }
}

.work {
  width: 385px;
  margin-right: @work-border;
}

.work--top {
  vertical-align: bottom;

  .work__left-col,
  .work__right-col {
    vertical-align: bottom;
  }
}

.work--bottom {
  vertical-align: top;

  .work__left-col,
  .work__right-col {
    vertical-align: top;
  }
}

.work__left-col {
  width: 150px;
  margin-right: 10px;
}

.work__right-col {
  width: 225px;

  .work--bottom & {
    margin-left: 160px;
  }
}

.work__header,
.work__item {
  width: 100%;
  height: 150px;
  margin-bottom: @work-border;
}
