.header-main {
  position: fixed;
  top: 0;
  left: 0;
  z-index: @header-main-layer;
  width: @header-main-width;
  height: 100%;
  height: 100vh;
  background-color: @white;
  transition:
    left @header-main-transition-duration,
    width @header-main-transition-duration .1s;

  &.js-hide,
  &.ini-hide {
    left: -@header-main-width;
  }

  &.ini-hide {
    @media (min-width: @breakpoint-large) {
      left: 0;
    }
  }

  .grid {
    height: inherit;
  }
}

.header-main__logo {
  position: fixed;
  left: 0;
  top: 0;
  z-index: @header-main-logo-layer;
  width: 230px;
  height: 80px;
  padding: @page-border;
  background-color: @white;

  h1 {
    height: 80px - (@page-border * 2);
    padding-left: 12px;
    .dark-tile;
    // 78px: A bit less than parent height to have font nicely centered.
    .font-size(19, 78px - (@page-border * 2));
    color: @white;
  }
}

.header-main__nav {
  width: @header-main-width;
}

.header-main__toggle-btn {
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  z-index: @header-main-toggle-btn-layer;
  width: 100%;
  padding: (@page-border + 5) @page-border (@page-border - 3);
  background: @white;
  text-align: right;
  overflow: hidden;

  @media (min-width: @breakpoint-large) {
    display: none;
  }

  @media (min-width: @breakpoint-medium) {
    width: auto;
  }

  .three-line-icn {
    display: inline-block;
  }
}

.menu-main {
  padding-left: @page-border;
  padding-right: @page-border;
  padding-top: @menu-main-top-padding;
}

.menu-main__item {
  width: @header-main-width - (@page-border + @work-border);
  height: auto;
  margin-bottom: 16px;
  background: none;

  a {
    padding-left: 12px;
  }

  &.lang {
    height: auto;
    background: none;
  }

  @media (min-width: @breakpoint-medium) {
    height: 72px;
    margin-bottom: 6px;
    .dark-tile;

    &:nth-child(2n) {
      margin-bottom: @work-border;
    }
  }
}
