#index, .info {
  .content {
    transition: all @header-main-transition-duration;
  }
}

#index {
  .content {
    margin-left: 0;
    padding-top: 150px;
    padding-bottom: 130px;

    @media (min-width: @breakpoint-large) {
      margin-left: @header-main-width - @work-border;
    }
  }
}

.info {
  .content {
    margin-left: 0;
    padding-left: 0;
    padding-right:0;
    padding-top: @menu-main-top-padding;
    padding-bottom: @menu-main-top-padding;

    @media (min-width: @breakpoint-medium) {
      padding-left: @page-border;
      padding-right: @page-border;
    }

    @media (min-width: @breakpoint-large) {
      padding-left: @header-main-logo-width + @page-border;
    }
  }
}

#cv {
  td:first-child {
    vertical-align: top;
    width: 96px;
    padding-right: 16px;
    letter-spacing: 0.05em;
    border: 0;
  }

  .info__text__description {
    h4 {
      text-indent: 98px;
    }
  }
}

#work {
  .content {
    min-height: 200vh;
    padding-top: 9px;
    padding-left: 0;
    padding-right: 0;

    @media (min-width: @breakpoint-medium) {
      padding-top: 13px;
      padding-left: 48px;
      padding-right: 48px;
    }

    @media (min-width: @breakpoint-large) {
      padding-top: @page-border;
      padding-left: 64px;
      padding-right: 64px;
    }
  }

  .work__attribute {
    padding: 0;
    margin-bottom: 20px;
    line-height: 1.2;
  }
}

.work__header {
  .dark-tile;
  color: @white;

  a {
    padding: 7px 10px;
  }
}

.work-details__toggle-desc-btn,
.work-details__close-btn {
  position: fixed;
  z-index: @work-details-btn-layer;
  background-color: @white;
}

.work-details__toggle-desc-btn {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  padding-top: 14px;
  text-align: center;

  .arrow-icn {
    display: inline-block;
  }
}

.work-details__close-btn {
  display: block;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;

  .cross-icn {
    position: relative;
    top: 17px;
    left: 12px;
  }

  @media (min-width: @breakpoint-medium) {
    width: 48px;
    height: 48px;

    .cross-icn {
      top: 21px;
      left: 16px;
    }
  }

  @media (min-width: @breakpoint-large) {
    width: 64px;
    height: 64px;

    .cross-icn {
      top: 28px;
      left: 24px;
    }
  }
}

.work-details__text,
.info__text {
  width: 100%;
}

.work-details__text {
  margin-top: @page-border;
  padding-bottom: @page-border;
}
