.contain-floats {
  &:after {
    display: block;
    content: " ";
    clear: both;
  }
}

.font-size(@size: @font-size-normal, @line-height: @line-height-normal) {
  @pxValue: @size;
  @remValue: (@size / 10);
  font-size: ~"@{pxValue}px";
  font-size: ~"@{remValue}rem";
  line-height: @line-height;
}

.dark-tile {
  background-image: url(@dark-tile-url);
}
