@font-face {
  font-family: 'FoundersGroteskRegular';
  src: url('fonts/FoundersGroteskWeb-Regular.eot');
  src: url('fonts/FoundersGroteskWeb-Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/FoundersGroteskWeb-Regular.woff2') format('woff'),
       url('fonts/FoundersGroteskWeb-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

body {
  font:
    ~"@{font-size-normal}px"/@line-height-normal
    'FoundersGroteskRegular', Helvetica, sans-serif;
  color: @black;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

.menu-main__item {
  .font-size(@font-size-medium, 1);
  color: @black;
  text-transform: lowercase;

  &.lang {
    color: @black;
    line-height: 1;
  }

  @media (min-width: @breakpoint-medium) {
    line-height: 72px;
    color: @white;
  }
}

.work__header {
  text-align: right;
}

/*h2*/.work__title {
  padding-bottom: 4px;
  padding-bottom: .4rem;
  .font-size(@font-size-medium, 1);
  text-transform: uppercase;
}
/*p*/.work__attribute {
  margin: 0;
  padding-bottom: 8px;
  padding-bottom: .8rem;
  .font-size(@font-size-small, 1);
}
