/*
 * Colors
 * ______________________________________________ */
@black:                 #222;
@white:                 #fff;
@gray:                  #eee;

// (Page-) wrapper padding.
@page-border:              20px;

@menu-main-top-padding:    80px;

// Right .work and bottom header/item margin.
@work-border:              20px;

// Also adjusts the left #work .content margin.
@header-main-width:       190px;

@header-main-logo-width:  @header-main-width + (2 * @page-border);

@header-main-transition-duration: .25s;

// On first image load transition duration.
@gallery-transition-duration:     .25s;

@dark-tile-url: 'img/dark-tile.png';


/*
 * Font sizes: px, (px/10)rem
 * ______________________________________________ */
@font-size-tiny:              9;
@line-height-tiny:    .91836735;

@font-size-small:            14;
@line-height-small:  1.42857143;

@font-size-normal:           16;
@line-height-normal: 1.63265306;

@font-size-medium:           18;
@line-height-medium:  1.8367347;

@font-size-large:            24;
@line-height-large:  2.44897959;

@font-size-huge:             32;
@line-height-huge:   3.26530613;


/*
 * Layers: z-index
 * ______________________________________________ */
@header-main-layer:            100;
@header-main-logo-layer:       101;
@header-main-toggle-btn-layer: 100;
@work-details-btn-layer:       100;


/*
 * Breakpoints: min-width
 * ______________________________________________ */
@breakpoint-medium:       480px;
@breakpoint-large:        800px;
