<perch:content
  type="image"
  id="image"
  quality="100"
  width="1920"
  height="1920"
  suppress="true" />

<perch:content
  type="file"
  id="video"
  label="Video"
  bucket="videos"
  suppress="true" />

<perch:content
  type="file"
  id="audio"
  label="Audio"
  bucket="audios"
  suppress="true" />

<div class="work__item" style="<perch:content id="hide" type="checkbox" value="display:none" label="Hide from index:" />">
  <a
    class="lazy thumbnail btn btn--full"
    href="/work/<perch:content id="parent._id" />/<perch:content id="parent.slug" type="slug" />"
    data-work-index="<perch:content id="parent.perch_item_index" />"
    data-original="<perch:if exists="video"><perch:content id="image" type"image" /><perch:else /><perch:content
      type="image"
      id="image"
      label="Image"
      quality="85"
      width="600"
      height="600"
      bucket="images"
      required="true"
      order="1" /></perch:if>"
    title="<perch:content type="text" id="alt" label="Description" order="2" />"
    style="
      background-image: url();
      background-size: <perch:content
        type="text"
        id="image_size"
        label="Size"
        default="cover"
        order="3" />;
      background-position: <perch:content
        type="text"
        id="image_position"
        label="Position"
        default="center center"
        order="4" />;">
  </a>
</div>
