<!--*
  Used by:
    work.php (details page)
      perch_content_custom 'Work'
        work_details_content.html
*-->
<li
  class="gallery__item
  <perch:if exists="video"> gallery__item--video
    <perch:else />
      <perch:if exists="audio"> gallery__item--audio
      <perch:else /> gallery__item--image
    </perch:if>
  </perch:if>">
  <perch:if exists="video AND audio OR video">
  <!-- <video poster="<perch:content type="image" id="image" />" loop> -->
  <video loop>
    <source src="<perch:content type="file" id="video" />" type="video/mp4" />
    <!-- TODO: Video tag not supported.
    Download the video <a href="movie.webm">here</a>. -->
  </video>
  <perch:else />
    <perch:if exists="audio">
      <img
        src="<perch:content type="image" id="image" />"
        alt="<perch:content type="text" id="alt" />">
      <audio src="<perch:content type="file" id="audio" />">
        <!-- TODO: Your browser does not support the audo element. -->
      </audio>
      <perch:else />
      <img
        src="<perch:content type="image" id="image" />"
        alt="<perch:content type="text" id="alt" />">
    </perch:if>
  </perch:if>
</li>
